<!DOCTYPE HTML>
<html>
<head><title>Storyblok</title></head>
<body>
<link href="https://app-beta.storyblok.com/css/index-latest.css" rel="stylesheet" type="text/css" />
<div id="root"></div>
<div id="page-load"><div><div></div></div></div>
<script type="text/javascript">
  STORYBLOK_ONE_PROTO = true;
  STORYBLOK_PREVIEW_URL = 'http://localhost:3000';
  STORYBLOK_TECHNOLOGY = 'next';
  STORYBLOK_EXPERIMENTAL = true;
</script>
<script src="https://app-beta.storyblok.com/js/app-latest.js?v1" type="text/javascript"></script>
</body>
</html>
